:root {
    --backgroud-dark: rgb(31, 30, 32);
}

html, body {
    height: 100%;
    background-color: var(--backgroud-dark);
    margin: 0;
}

#main-container {
    display: grid;
    grid-template-rows: 4em 4fr 1fr;
    align-items: center;
    justify-items: center;

    width: 100vw;
    height: 95vh;
}

#toggle-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 90%;
    height: 50%;
}

.time-toggle {
    position: relative;
    height: 100%;
}

input {
    display: none;
}

.time-toggle.theme {
    background-color: black;
    border-radius: 20px;
    width: 3.6em;
}

label[for="theme"] {
    position: relative;
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
    cursor: pointer;
}

.ball {
    position: absolute;
    left: 3%;

    height: 85%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;

    transition: transform 0.3s ease;
}

input#theme:checked +label .ball {
    transform: translateX(100%);
}

#widget-container {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    align-items: center;
    justify-items: center;

    width: 60%;
}

.time-element {
    display: none;
}